[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
jupyterlab = "*"
numpy = "*"
torchinfo = "*"
tensorboard = "*"
torch = "2.2.2+cu121"
torchaudio = "2.2.2+cu121"
torchvision = "0.17.2+cu121"

[dev-packages]

[requires]
python_version = "3.11"
